In [1]:
# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
# have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
# jobs data.
# This task will be done in following steps:
# 1. First get the webpage https://www.naukri.com/
# 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
# location” field.
# 3. Then click the search button.
# 4. Then scrape the data for the first 10 jobs results you get.
# 5. Finally create a dataframe of the scraped data.
# Note: All of the above steps have to be done in code. No step is to be done manually.
    
import selenium
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium import webdriver
import time
import pandas as pd
from selenium.webdriver.chrome.service import Service
Webdriver_Path = Service("C:\\DataTrained\\FlipRobo\\chromedriver_win32\\chromedriver.exe")
driver = webdriver.Chrome(service=Webdriver_Path)
#driver = webdriver.Chrome(r"C:\DataTrained\FlipRobo\chromedriver_win32\chromedriver.exe")

# opening the URL
driver.get("https://www.naukri.com/")
#maximize the window size  
driver.maximize_window()  
#delete the cookies  
driver.delete_all_cookies()  
driver.find_element(By.XPATH, "//*[@id='root']/div[6]/div/div/div[1]/div/div/div/input").send_keys("Data Analyst")
driver.find_element(By.XPATH, "//*[@id='root']/div[6]/div/div/div[5]/div/div/div/input").send_keys("Bangalore")
driver.find_element(By.XPATH, "//div[@class='qsbSubmit']").click()
#time.sleep(3)
driver.implicitly_wait(3) # seconds

job_titles=[]
job_Location = []
Company = []
Experience_required =[]

title_tags = driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title = i.text
    job_titles.append(title)
    #time.sleep(3)

location_tags = driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    loc = i.text
    job_Location.append(loc)
     
company_tags = driver.find_elements(By.XPATH, "//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    comp = i.text
    Company.append(comp)

experience_tags = driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp = i.text
    Experience_required.append(exp)
 

    #close the browser  
driver.close()  

scrape_list = {'job_titles':job_titles,'job_Location':job_Location,'Company_name':Company,'Experience_required':Experience_required}
df = pd.DataFrame(scrape_list,columns =['job_titles','job_Location','Company_name','Experience_required'])
df

,job_titles,job_Location,Company_name,Experience_required
0,Associate Healthcare Research and Data Analyst,Bangalore/Bengaluru,Clarivate,0-2 Yrs
1,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
2,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,3-5 Yrs
3,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
4,Data Analyst,Bangalore/Bengaluru,ANZ,1-4 Yrs
5,Data Analyst,Bangalore/Bengaluru,ANZ,1-5 Yrs
6,Sr. Data Analyst,Bangalore/Bengaluru,MM STAFFING CAREER CONSULTANTS PRIVATE LIMITED,5-8 Yrs
7,Senior Data Analyst | Neiman Marcus Group,Bangalore/Bengaluru,Talent500,6-11 Yrs
8,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
9,Senior Data Management Analyst,Bangalore/Bengaluru,Wells Fargo,1-12 Yrs

In [2]:
# Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
# have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
# This task will be done in following steps:
# 1. First get the webpage https://www.naukri.com/
# 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
# location” field.
# 3. Then click the search button.
# 4. Then scrape the data for the first 10 jobs results you get.
# 5. Finally create a dataframe of the scraped data.
# Note: All of the above steps have to be done in code. No step is to be done manually.
import selenium
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium import webdriver
import time
import pandas as pd
#from selenium import webdriver
from selenium.webdriver.chrome.service import Service
Webdriver_Path = Service("C:\\DataTrained\\FlipRobo\\chromedriver_win32\\chromedriver.exe")
driver = webdriver.Chrome(service=Webdriver_Path)
#driver = webdriver.Chrome(r"C:\DataTrained\FlipRobo\chromedriver_win32\chromedriver.exe")

# opening the URL
driver.get("https://www.naukri.com/")
#maximize the window size  
driver.maximize_window()  
#delete the cookies  
driver.delete_all_cookies()  
driver.find_element(By.XPATH, "//*[@id='root']/div[6]/div/div/div[1]/div/div/div/input").send_keys("Data Scientist")
driver.find_element(By.XPATH, "//*[@id='root']/div[6]/div/div/div[5]/div/div/div/input").send_keys("Bangalore")
driver.find_element(By.XPATH, "//div[@class='qsbSubmit']").click()
#time.sleep(3)
driver.implicitly_wait(3) # seconds

job_titles=[]
job_Location = []
Company = []
Experience_required =[]

title_tags = driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title = i.text
    job_titles.append(title)
    #time.sleep(3)
        
#print(job_titles)

location_tags = driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    loc = i.text
    job_Location.append(loc)
     
company_tags = driver.find_elements(By.XPATH, "//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    comp = i.text
    Company.append(comp)
    
experience_tags = driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp = i.text
    Experience_required.append(exp)
 

#close the browser  
driver.close()  

scrape_list = {'job_titles':job_titles,'job_Location':job_Location,'Company_name':Company,'Experience_required':Experience_required}
df = pd.DataFrame(scrape_list,columns =['job_titles','job_Location','Company_name','Experience_required'])
df

,job_titles,job_Location,Company_name,Experience_required
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
1,Data Scientist,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Tata Nexarc,4-8 Yrs
2,Data Scientist,"Bangalore/Bengaluru, Nagpur, Pune",Tech Mahindra,5-8 Yrs
3,Data Scientist / AI-ML Engineer,Bangalore/Bengaluru,Hitachi Ltd.,3-7 Yrs
4,Manager-Data Science,Bangalore/Bengaluru,AMERICAN EXPRESS,3-4 Yrs
5,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture,2-6 Yrs
6,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ...",Mindtree,5-10 Yrs
7,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",Bizongo,3-6 Yrs
8,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes,6-8 Yrs
9,Data Science - Engineering Manager,"Bangalore/Bengaluru, New Delhi",Paytm,3-5 Yrs

In [3]:
# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
# You have to use the location and salary filter.
# You have to scrape data for “Data Scientist” designation for first 10 job results.
# You have to scrape the job-title, job-location, company name, experience required.
# The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
# The task will be done as shown in the below steps:
# 1. first get the webpage https://www.naukri.com/
# 2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
# 3. Then click the search button.
# 4. Then apply the location filter and salary filter by checking the respective boxes
# 5. Then scrape the data for the first 10 jobs results you get.
# 6. Finally create a dataframe of the scraped data.
# Note: All of the above steps have to be done in code. No step is to be done manually.
import selenium
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium import webdriver
import time
import pandas as pd
#from selenium import webdriver
from selenium.webdriver.chrome.service import Service
Webdriver_Path = Service("C:\\DataTrained\\FlipRobo\\chromedriver_win32\\chromedriver.exe")
driver = webdriver.Chrome(service=Webdriver_Path)
#driver = webdriver.Chrome(r"C:\DataTrained\FlipRobo\chromedriver_win32\chromedriver.exe")

# opening the URL
driver.get("https://www.naukri.com/")
#maximize the window size  
driver.maximize_window()  
#delete the cookies  
driver.delete_all_cookies()  
driver.find_element(By.XPATH, "//*[@id='root']/div[6]/div/div/div[1]/div/div/div/input").send_keys("Data Scientist")
#driver.find_element(By.XPATH, "//*[@id='root']/div[6]/div/div/div[5]/div/div/div/input").send_keys("Bangalore")
driver.find_element(By.XPATH, "//div[@class='qsbSubmit']").click()
#time.sleep(3)
driver.implicitly_wait(3) # seconds

#location filter to be used is “Delhi/NCR”
driver.find_element(By.XPATH, "//*[@id='root']/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i").click()
#salary filter to be used is “3-6” lakhs
driver.find_element(By.XPATH, "//*[@id='root']/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i").click()

job_titles=[]
job_Location = []
Company = []
Experience_required =[]

title_tags = driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title = i.text
    job_titles.append(title)
    #time.sleep(3)
        
#print(job_titles)

location_tags = driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    loc = i.text
    job_Location.append(loc)
     
company_tags = driver.find_elements(By.XPATH, "//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    comp = i.text
    Company.append(comp)
    
experience_tags = driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp = i.text
    Experience_required.append(exp)
 

#close the browser  
driver.close()  

scrape_list = {'job_titles':job_titles,'job_Location':job_Location,'Company_name':Company,'Experience_required':Experience_required}
df = pd.DataFrame(scrape_list,columns =['job_titles','job_Location','Company_name','Experience_required'])
df

,job_titles,job_Location,Company_name,Experience_required
0,Artificial Intelligence/Computer Vision Engine...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Vicara,1-3 Yrs
1,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs
2,Data Scientist,Temp. WFH - Noida,NGI Ventures,1-5 Yrs
3,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
4,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
5,Data Scientist,Gurgaon/Gurugram,Americana Restaurants (india),3-8 Yrs
6,URGENT: Data Scientist | Gurugram | 5 Days Wor...,Gurgaon/Gurugram,Digilytics,2-5 Yrs
7,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs
8,Jr. Data Scientist,Noida,Dataflow,1-3 Yrs
9,Data Scientist,New Delhi,Razor Group Gmbh,2-3 Yrs

In [4]:
# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
# 1. Brand
# 2. ProductDescription
# 3. Price
# The attributes which you have to scrape is ticked marked in the below image
# To scrape the data you have to go through following steps:
# 1. Go to Flipkart webpage by url : https://www.flipkart.com/
# 2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
# click the search icon
# 3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
# required data as usual.
# 4.After scraping data from the first page, go to the “Next” Button at the bottom other page , then
# click on it.
# 5. Now scrape data from this page as usual
# 6. Repeat this until you get data for 100 sunglasses.
# Note: That all of the above steps have to be done by coding only and not manually.
import selenium
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium import webdriver
import time
import pandas as pd
#from selenium import webdriver
from selenium.webdriver.chrome.service import Service
Webdriver_Path = Service("C:\\DataTrained\\FlipRobo\\chromedriver_win32\\chromedriver.exe")
driver = webdriver.Chrome(service=Webdriver_Path)
#driver = webdriver.Chrome(r"C:\DataTrained\FlipRobo\chromedriver_win32\chromedriver.exe")

# opening the URL
driver.get("https://www.flipkart.com/")
#maximize the window size  
driver.maximize_window()  
#delete the cookies  
driver.delete_all_cookies()

driver.find_element(By.XPATH, "//button[@class='_2KpZ6l _2doB4z']").click()
driver.find_element(By.XPATH, "//input[@class='_3704LK']").send_keys("sunglasses")
driver.find_element(By.XPATH, "//button[@class='L0Z3Pu']").click()
#time.sleep(3)
driver.implicitly_wait(2) # seconds

Brand=[]
ProductDescription = []
Price = []
Discount =[]

start =0
end =3
for page in range(start,end):
    Brand_tags = driver.find_elements(By.XPATH, "//div[@class='_2WkVRV']")
    for i in Brand_tags:
        Brand.append(i.text.strip())
       
    ProductDesc_tags = driver.find_elements(By.XPATH, "//a[@class='IRpwTa']")
    for i in ProductDesc_tags:
        ProductDescription.append(i.text.strip())
            
    Price_tags = driver.find_elements(By.XPATH, "//div[@class='_30jeq3']")
    for i in Price_tags:
        Price.append(i.text.strip())
            
    Discount_tags = driver.find_elements(By.XPATH, "//div[@class='_3Ay6Sb']//span")
    for i in Discount_tags:
        Discount.append(i.text.strip())
           
    if page == 0:     
        next_button = driver.find_element(By.XPATH, "//a[@class='_1LKTO3']")
        next_button.click()
        time.sleep(2)
    else:
        next_button = driver.find_element(By.XPATH, "//a[12][@class='_1LKTO3']//span[1]")
        next_button.click()
        time.sleep(2)

#close the browser  
driver.close() 
#DataFrame of Brand,ProductDesc,Price and Discount as mentioned on the image
flipkart_sunglasslist = {'Brand':Brand,'ProductDescription':ProductDescription,'Product_Price':Price,'Product_Discount':Discount}
df = pd.DataFrame(flipkart_sunglasslist,columns =['Brand','ProductDescription','Product_Price','Product_Discount'])
df.head(100)

,Brand,ProductDescription,Product_Price,Product_Discount
0,LIZA ANGEL,"Riding Glasses, Night Vision Spectacle Sunglas...",₹129,87% off
1,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹489,38% off
2,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹129,87% off
3,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149,75% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹599,40% off
...,...,...,...,...
95,LIZA ANGEL,"Riding Glasses, Night Vision Retro Square, Spe...",₹129,87% off
96,DEIXELS,"Polarized, UV Protection, Riding Glasses Wayfa...",₹218,63% off
97,ROYAL SON,"Polarized, UV Protection Retro Square Sunglass...",₹616,69% off
98,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹949,52% off
99,New Specs,UV Protection Oval Sunglasses (Free Size),₹196,80% off

In [5]:
# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
# https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
# place=FLIPKART
# As shown in the above page you have to scrape the tick marked attributes. These are:
# 1. Rating
# 2. Review summary
# 3. Full review
# 4. You have to scrape this data for first 100 reviews.

import selenium
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium import webdriver
import time
import pandas as pd
#from selenium import webdriver
from selenium.webdriver.chrome.service import Service
Webdriver_Path = Service("C:\\DataTrained\\FlipRobo\\chromedriver_win32\\chromedriver.exe")
driver = webdriver.Chrome(service=Webdriver_Path)
#driver = webdriver.Chrome(r"C:\DataTrained\FlipRobo\chromedriver_win32\chromedriver.exe")

# opening the URL
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")
#maximize the window size  
driver.maximize_window()  
#delete the cookies  
driver.delete_all_cookies()
driver.implicitly_wait(2) # seconds

Rating=[]
ReviewSummary = []
FullReview = []

start = 0
last = 10
for page in range(start,last):
    time.sleep(2)
    Rating_tags = driver.find_elements(By.XPATH, "//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']")
    for i in Rating_tags:
        Rating.append(i.text.strip()) 
              
    reviewSummary_tags = driver.find_elements(By.XPATH, "//p[@class='_2-N8zT']")
    for i in reviewSummary_tags:
        ReviewSummary.append(i.text.strip()) 
       
    FullReview_tags = driver.find_elements(By.XPATH, "//div[@class='t-ZTKy']")
    for i in FullReview_tags:
        FullReview.append(i.text.strip()) 
        time.sleep(2)
        
    if page == 0:    
        #next_button = driver.find_element(By.XPATH, "//a[@class='_1LKTO3']")
        driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")
        next_button = driver.find_element(By.CLASS_NAME, "_1LKTO3")
        time.sleep(2)
        next_button.click()  
        time.sleep(2)
    else:
        next_button = driver.find_element(By.XPATH, "//a[12][@class='_1LKTO3']//span[1]")
        time.sleep(2)
        next_button.click()

#close the browser  
driver.close()


#DataFrame of Rating,ProductDesc,ReviewSummary and FullReview for apple-iphone-11-black-64-gb/product-reviews
flipkart_iphone11 = {'Rating':Rating,'ReviewSummary':ReviewSummary,'FullReview':FullReview}
df = pd.DataFrame(flipkart_iphone11,columns =['Rating','ReviewSummary','FullReview'])
# df = pd.DataFrame.from_dict(flipkart_iphone11, orient='index')
# df = df.transpose()
df.head(100)

,Rating,ReviewSummary,FullReview
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,3,Does the job,phone is good but in display is 720p lcd in th...
96,5,Super!,This is my first ever iPhone.\nAnd I truly don...
97,5,Brilliant,A wort full value for money decision it’s . Si...
98,5,Must buy!,Dear friends... I want to share my experience ...
99,5,Awesome,Can’t beat the software and hardware integrati...

In [6]:
# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
# search field.
# You have to scrape 4 attributes of each sneaker:
# 1. Brand
# 2. ProductDescription
# 3. Price
# As shown in the below image, you have to scrape the tick marked attributes.

import selenium
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium import webdriver
import time
import pandas as pd
#from selenium import webdriver
from selenium.webdriver.chrome.service import Service
Webdriver_Path = Service("C:\\DataTrained\\FlipRobo\\chromedriver_win32\\chromedriver.exe")
driver = webdriver.Chrome(service=Webdriver_Path)
#driver = webdriver.Chrome(r"C:\DataTrained\FlipRobo\chromedriver_win32\chromedriver.exe")

# opening the URL
driver.get("https://www.flipkart.com/")
#maximize the window size  
driver.maximize_window()  
#delete the cookies  
driver.delete_all_cookies()

driver.find_element(By.XPATH, "//button[@class='_2KpZ6l _2doB4z']").click()
driver.find_element(By.XPATH, "//input[@class='_3704LK']").send_keys("sneakers")
driver.find_element(By.XPATH, "//button[@class='L0Z3Pu']").click()
#time.sleep(3)
driver.implicitly_wait(2) # seconds

Brand=[]
ProductDescription = []
Price = []
Discount =[]

start =0
end =3
for page in range(start,end):
    Brand_tags = driver.find_elements(By.XPATH, "//div[@class='_2WkVRV']")
    for i in Brand_tags:
        Brand.append(i.text.strip())
       
    ProductDesc_tags = driver.find_elements(By.XPATH, "//a[@class='IRpwTa' or @class='IRpwTa _2-ICcC']")
    for i in ProductDesc_tags:
        ProductDescription.append(i.text.strip())
            
    Price_tags = driver.find_elements(By.XPATH, "//div[@class='_30jeq3']")
    for i in Price_tags:
        Price.append(i.text.strip())
            
    Discount_tags = driver.find_elements(By.XPATH, "//div[@class='_3Ay6Sb']//span")
    for i in Discount_tags:
        Discount.append(i.text.strip())
           
    if page == 0:     
        next_button = driver.find_element(By.XPATH, "//a[@class='_1LKTO3']")
        next_button.click()
        time.sleep(2)
    else:
        next_button = driver.find_element(By.XPATH, "//a[12][@class='_1LKTO3']//span[1]")
        next_button.click()
        time.sleep(2)

#close the browser  
driver.close() 
#DataFrame of Brand,ProductDesc,Price and Discount as mentioned on the image
flipkart_sneakerslist = {'Brand':Brand,'ProductDescription':ProductDescription,'Product_Price':Price,'Product_Discount':Discount}
#df = pd.DataFrame(flipkart_sneakerslist,columns =['Brand','ProductDescription','Product_Price','Product_Discount'])
df = pd.DataFrame.from_dict(flipkart_sneakerslist, orient='index')
df = df.transpose()
df.head(100)

,Brand,ProductDescription,Product_Price,Product_Discount
0,Labbin,Sneakers For Men,₹399,60% off
1,Shozie,Sneakers For Men,₹295,70% off
2,SFR,PLANCK Smart Grey Lace-Ups Casuals Sneakers Sn...,₹199,66% off
3,aadi,Mesh | Ultralightweight | Comfortable | Breath...,₹359,82% off
4,TR,Sneakers For Men,₹299,80% off
...,...,...,...,...
95,bacca bucci,Comfy Mid-Top Casual Chunky Streetwear Fashion...,"₹1,683",54% off
96,PUMA,RS-X PUZZLE Sneakers For Men,"₹4,139",80% off
97,Deals4you,Sneakers For Women,₹381,40% off
98,RapidBox,Sneakers For Men,₹599,49% off
99,PUMA,Brave Sneakers For Men,"₹1,650",37% off

In [7]:
# Q7: Go to webpage https://www.amazon.in/
# Enter “Laptop” in the search field and then click the search icon.
# Then set CPU Type filter to “Intel Core i7” as shown in the below image:
# After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
# 1. Title
# 2. Ratings
# 3. Price


import selenium
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium import webdriver
import time
import pandas as pd
#from selenium import webdriver
from selenium.webdriver.chrome.service import Service
Webdriver_Path = Service("C:\\DataTrained\\FlipRobo\\chromedriver_win32\\chromedriver.exe")
driver = webdriver.Chrome(service=Webdriver_Path)
#driver = webdriver.Chrome(r"C:\DataTrained\FlipRobo\chromedriver_win32\chromedriver.exe")

# opening the URL
driver.get("https://www.amazon.in/")
#maximize the window size  
driver.maximize_window()  
#delete the cookies  
driver.delete_all_cookies()

driver.find_element(By.ID, "twotabsearchtextbox").send_keys("Laptop")
driver.find_element(By.ID, "nav-search-submit-button").click()
time.sleep(1)
#set CPU Type filter to “Intel Core i7”
#driver.find_element(By.ID, "p_n_feature_thirteen_browse-bin/12598163031").click()
#driver.find_element(By.XPATH, "//li[contains(@aria-label, 'Intel Core i7')]").click()
driver.find_element(By.XPATH, "//li[contains(@aria-label, 'Intel Core i7')]//i[@class='a-icon a-icon-checkbox']").click()
#driver.implicitly_wait(2) # seconds
time.sleep(3)

Title=[]
Ratings = []
price = []

title_tags = driver.find_elements(By.XPATH, "//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in title_tags[0:10]:
    Title.append(i.text.strip())
    time.sleep(1)


Ratings_tags = driver.find_elements(By.XPATH, "//div[@class='a-section a-spacing-none a-spacing-top-micro']//span[@class='a-size-base']")
for i in Ratings_tags[0:10]:
    Ratings.append(i.text.strip())
    time.sleep(1)

     
price_tags = driver.find_elements(By.XPATH, "//a[@class='a-size-base a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']//span[@class='a-price-whole']")
for i in price_tags[0:10]:
    price.append(i.text.strip())
    time.sleep(1)


#close the browser  
driver.close()  

# print(Title)
# print(Ratings)
# print(price)

Amazon_list = {'Title':Title,'Ratings':Ratings,'price':price}
# df = pd.DataFrame(Amazon_list,columns =['Title','Ratings','price'])
# df.head(10)
#Second way of displaying on DataFrame
df2 = pd.DataFrame.from_dict(Amazon_list, orient='index')
df2 = df2.transpose()
df2.head(10)

                                               Title Ratings     price
0  HP Pavilion x360 11th Gen Intel Core i7 14 inc...     4.4    82,490
1  Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...     4.2    94,391
2  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...     4.0    95,546
3  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...     3.9    79,990
4  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...     3.3    24,949
5  HP Pavilion x360 11th Gen Intel Core i7 14 inc...     4.4    82,490
6  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...     4.2    89,000
7  HP Victus Gaming Latest 12th Gen Intel Core i7...     4.3    82,490
8  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...     4.2    82,990
9  ASUS TUF Gaming F17 (2022), 17.3"(43.94 cms) F...     4.0  1,06,874

In [8]:
#8: Write a python program to scrape data for Top 1000 Quotes of All Time.
# The above task will be done in following steps:
# 1.First get the webpage https://www.azquotes.com/
# 2. Click on Top Quotes
# 3. Than scrap a) Quote b) Author c) Type Of Quotes
import selenium
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium import webdriver
import time
import pandas as pd
#from selenium import webdriver
from selenium.webdriver.chrome.service import Service
Webdriver_Path = Service("C:\\DataTrained\\FlipRobo\\chromedriver_win32\\chromedriver.exe")
driver = webdriver.Chrome(service=Webdriver_Path)
#driver = webdriver.Chrome(r"C:\DataTrained\FlipRobo\chromedriver_win32\chromedriver.exe")

# opening the URL
driver.get("https://www.azquotes.com/")
#maximize the window size  
driver.maximize_window()  
#delete the cookies  
driver.delete_all_cookies()
driver.implicitly_wait(2) # seconds
#Click on Top Quotes
driver.find_element(By.XPATH, "//*[@id='menu']/div/div[3]/ul/li[5]/a").click()
time.sleep(2)

Quote=[]
Author = []
TypeOfQuotes = []

start = 0
last = 10
for page in range(start,last):
    time.sleep(3)
    Quote_tags = driver.find_elements(By.XPATH, "//a[@class='title']")
    for i in Quote_tags:
        Quote.append(i.text.strip()) 
              
    Author_tags = driver.find_elements(By.XPATH, "//div[@class='author']//a")
    for i in Author_tags:
        Author.append(i.text.strip()) 
       
    TypeOfQuotes_tags = driver.find_elements(By.XPATH, "//div[@class='tags']")
    for i in TypeOfQuotes_tags:
        TypeOfQuotes.append(i.text.strip()) 
    
    time.sleep(2)
    #next_button = driver.find_element(By.XPATH, "//li[@class='next']")
    if page <= 8:
        next_button = driver.find_element(By.XPATH, "(//li[@class='next']//a)[1]")
        time.sleep(2)
        next_button.click()  
        time.sleep(1)  
    

#close the browser  
driver.close()

#DataFrame of Rating,ProductDesc,ReviewSummary and FullReview for apple-iphone-11-black-64-gb/product-reviews
azquotes_list = {'Quote':Quote,'Author':Author,'TypeOfQuotes':TypeOfQuotes}
df = pd.DataFrame(azquotes_list,columns =['Quote','Author','TypeOfQuotes'])
# df = pd.DataFrame.from_dict(flipkart_iphone11, orient='index')
# df = df.transpose()
df.head(1000)

,Quote,Author,TypeOfQuotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

In [9]:
# 9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
# Term of office, Remarks) from https://www.jagranjosh.com/.
# This task will be done in following steps:
# 1. First get the webpage https://www.jagranjosh.com/
# 2. Then You have to click on the GK option
# 3. Then click on the List of all Prime Ministers of India
# 4. Then scrap the mentioned data and make the DataFrame.
import selenium
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium import webdriver
import time
import pandas as pd
#from selenium import webdriver
from selenium.webdriver.chrome.service import Service
Webdriver_Path = Service("C:\\DataTrained\\FlipRobo\\chromedriver_win32\\chromedriver.exe")
driver = webdriver.Chrome(service=Webdriver_Path)
#driver = webdriver.Chrome(r"C:\DataTrained\FlipRobo\chromedriver_win32\chromedriver.exe")

# opening the URL
driver.get("https://www.jagranjosh.com/")
#maximize the window size  
driver.maximize_window()  
#delete the cookies  
driver.delete_all_cookies()
driver.implicitly_wait(2) # seconds
#Click on Top Quotes
driver.find_element(By.XPATH, "//*[@id='1540978020504']/div[1]/header/div[3]/ul/li[9]/a").click()
time.sleep(2)
#click on the List of all Prime Ministers of India
driver.find_element(By.XPATH, "//*[@id='popluarGK']/ul/li[2]/a").click()

Name=[]
BornDead = []
Termofoffice = []
Remarks = []
d =[]
# to identify the table rows
r = driver.find_elements(By.XPATH, "//*[@id='itemdiv']/div[4]/span/div[2]/table/tbody/tr")
# to identify table columns
c = driver.find_elements(By.XPATH, "//*[@id='itemdiv']/div[4]/span/div[2]/table/tbody/tr/td")
#//*[@id="itemdiv"]/div[4]/span/div[2]/table/tbody/tr[2]/td[1]
# to get row count with len method
rc = len (r)

# to get column count with len method
cc = len (c)

for i in range (2, rc + 1) :
# to traverse through the table column
        cell = "tr["+str(i)+"]/td[2]"
        pm_name = driver.find_element(By.XPATH, "//*[@id='itemdiv']/div[4]/span/div[2]/table/tbody/"+cell+"")
        Name.append(pm_name.text.strip())

for i in range (2, rc + 1) :
# to traverse through the table column
        cell = "tr["+str(i)+"]/td[3]"
        Born_dead = driver.find_element(By.XPATH, "//*[@id='itemdiv']/div[4]/span/div[2]/table/tbody/"+cell+"")
        BornDead.append(Born_dead.text.strip())

for i in range (2, rc + 1) :
# to traverse through the table column
        cell = "tr["+str(i)+"]/td[4]"
        Term_office = driver.find_element(By.XPATH, "//*[@id='itemdiv']/div[4]/span/div[2]/table/tbody/"+cell+"")
        Termofoffice.append(Term_office.text.strip())

for i in range (2, rc + 1) :
# to traverse through the table column
        cell = "tr["+str(i)+"]/td[5]"
        Remark = driver.find_element(By.XPATH, "//*[@id='itemdiv']/div[4]/span/div[2]/table/tbody/"+cell+"")
        Remarks.append(Remark.text.strip())
#close the browser  
driver.close()
PMName_list = {'PMName':Name,'Born-Dead':BornDead,'Term of office':Termofoffice,'Remarks':Remarks}
df = pd.DataFrame(PMName_list,columns =['PMName','Born-Dead','Term of office','Remarks'])
df

,PMName,Born-Dead,Term of office,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a full...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

In [10]:
# 10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
# Car name ,Description and Price) from https://www.motor1.com/
# This task will be done in following steps:
# 1. First get the webpage https://www.motor1.com/
# 2. Then You have to click on the List option from Dropdown menu on leftside.
# 3. Then click on 50 most expensive carsin the world..
# 4. Then scrap the mentioned data and make the df

import selenium
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium import webdriver
import time
import pandas as pd
#from selenium import webdriver
from selenium.webdriver.chrome.service import Service
Webdriver_Path = Service("C:\\DataTrained\\FlipRobo\\chromedriver_win32\\chromedriver.exe")
driver = webdriver.Chrome(service=Webdriver_Path)
#driver = webdriver.Chrome(r"C:\DataTrained\FlipRobo\chromedriver_win32\chromedriver.exe")

# opening the URL
driver.get("https://www.motor1.com/")
#maximize the window size  
driver.maximize_window()  
#delete the cookies  
driver.delete_all_cookies()
time.sleep(3)
#driver.implicitly_wait(2) # seconds
#Click on features
driver.find_element(By.XPATH, "/html/body/div[3]/div[2]/div/div/div[3]/ul/li[5]/a").click()
time.sleep(2)
#click on click on 50 most expensive cars in the world
driver.find_element(By.XPATH, "//div[@class='text-box']//h3//a[contains(@href, '/features/308149/most-expensive-new-cars-ever/')]").click()
time.sleep(5)
CarName=[]
Description = []
price = []

CarName_tags = driver.find_elements(By.XPATH, "//h3[@class='subheader']")
for i in CarName_tags[0:50]:
    CarName.append(i.text.strip())
    time.sleep(1)

for i in range (5, 104, 2) :
        cell = "p["+str(i)+"]"
        Description_tags = driver.find_element(By.XPATH, "//*[@id='article_box']/div[1]/div[2]/div[1]/"+cell+"")
        Description.append(Description_tags.text.strip())
        time.sleep(1)
        
for i in range (4, 103, 2) :
        cell = "p["+str(i)+"]/strong"
        price_tags = driver.find_element(By.XPATH, "//*[@id='article_box']/div[1]/div[2]/div[1]/"+cell+"")
        price.append(price_tags.text.strip())
        time.sleep(1)

#close the browser  
driver.close()  

motor_list = {'CarName':CarName,'Description':Description,'price':price}
df = pd.DataFrame(motor_list,columns =['CarName','Description','price'])
df

,CarName,Description,price
0,Drako GTE,The Drako GTE is a super sedan in every sense ...,Price: $1.2 Million
1,De Tomaso P72,The De Tomaso P72 is basically the definition ...,Price: $1.3 Million
2,Ferrari LaFerrari,"At $1.4 million new, the Ferrari LaFerrari is ...",Price: $1.4 Million
3,Pagani Huayra,Inarguably one of the prettiest cars on this l...,Price: $1.4 Million
4,McLaren Elva,The McLaren Elva is one of the latest addition...,Price: $1.7 Million
5,Czinger 21C,"You might not know the name Czinger yet, but t...",Price: $1.7 Million
6,Ferrari Monza,"Much like the roof-less McLaren Elva, the Ferr...",Price: $1.7 Million
7,Gordon Murray T.33,The second and slightly more affordable superc...,Price: $1.7 Million
8,Koenigsegg Gemera,"One of two Koenigsegg models on this list, the...",Price: $1.7 Million
9,Zenvo TSR-S,"Hailing from Denmark, the Zenvo TSR-S debuted ...",Price: $1.7 Million
10,Hennessey Venom F5,"The Hennessey Venom GT was a record-breaker, t...",Price: $1.8 Million
11,Bentley Bacalar,"With just 12 total units produced, the Bentley...",Price: $1.9 Million
12,Hispano Suiza Carmen Boulogne,To call the Hispano Suiza Carmen Boulogne beau...,Price: $1.9 Million
13,Bentley Mulliner Batur,The electric onslaught is coming. Bentley says...,Price: $2.0 Million
14,Deus Vayanne,The Deus Vayanne may not be a household name (...,Price: $2.0 Million
15,SSC Tuatara,"Although initially cloaked in controversy, SSC...",Price: $2.0 Million*
16,Lotus Evija,With a new Emira sports car and an Eletre elec...,Price: $2.1 Million
17,Aston Martin Vulcan,"As with a few other cars on this list, the Ast...",Price: $2.3 Million
18,Delage D12,You may have heard of Delage before. In the ea...,Price: $2.3 Million
19,McLaren Speedtail,What would you pay for the fastest production ...,Price: $2.3 Million
20,Rimac Nevera,The Rimac Nevera takes the title of most expen...,Price: $2.4 Million
21,Pagani Utopia,"First came the Zonda, then the Huayra, and now...",Price: $2.5 Million
22,Pininfarina Battista,"Aptly named after the company’s founder, Batti...",Price: $2.5 Million
23,Ferrari FXX K Evo,"Sure, you could buy a normal LaFerrari (which ...",Price: $2.6 Million
24,Gordon Murray T.50,"If the name Gordon Murray sounds familiar, it’...",Price: $2.6 Million
25,Lamborghini Countach,"The name Countach may be iconic, but is it wor...",Price: $2.6 Million
26,Mercedes-AMG Project One,Mercedes has promised a production version of ...,Price: $2.7 Million
27,Aston Martin Victor,The folks at Aston Martin know a thing or two ...,Price: $3.0 Million
28,Hennessey Venom F5 Roadster,The same Hennessey Venom F5 hypercar we all kn...,$3.0 Million
29,Koenigsegg Jesko,"The Koenigsegg Jesko, apart from being the fas...",Price: $3.0 Million
30,Aston Martin Valkyrie,The upcoming Aston Martin hybrid hypercar hasn...,Price: $3.2 Million
31,W Motors Lykan Hypersport,Dubai-based W Motors shocked the world with it...,Price: $3.4 Million
32,McLaren Solus,"One seat, 829 horsepower, and a top speed of o...",$3.5 Million
33,Pagani Huayra Roadster BC,"Following Pagani’s past playbook, a roadster v...",Price: $3.5 Million
34,Bugatti Chiron Pur Sport,Another showstopper from the Geneva Motor Show...,Price: $3.6 Million
35,Lamborghini Sian,"In several ways, the Sian represents a bridge ...",Price: $3.6 million
36,Koenigsegg CC850,The Koenigsegg CC850 was a surprise to be sure...,Price: $3.7 Million
37,Bugatti Chiron Super Sport 300+,"Earlier this year, Bugatti captured the collec...",Price: $3.9 Million
38,Lamborghini Veneno,Lamborghini built just 14 examples of the Aven...,Price: $4.5 Million
39,Bugatti Bolide,Produced in extremely limited numbers atop the...,Price: $4.7 Million
40,Bugatti Mistral,The Bugatti Mistral sends the iconic W16 engin...,Price: $5.0 Million
41,Pagani Huayra Imola,Even though the new Utopia marks the next big ...,Price: $5.4 Million
42,Bugatti Divo,"Among Bugatti’s recently debuted vehicles, the...",Price: $5.8 Million
43,SP Automotive Chaos,SP Automotive (short for Spyros Panopoulos) is...,Price: $6.4 Million
44,Pagani Codalunga,The long list of pricey (new) Paganis ends wit...,Price: $7.4 Million
45,Mercedes-Maybach Exelero,"Like many others before it, the Mercedes-Benz ...",Price: $8.0 Million
46,Bugatti Centodieci,Bugatti debuted the Centodieci at last year’s ...,Price: $9.0 Million
47,Rolls-Royce Sweptail,"Rolls-Royce, expectedly, takes two of the top ...",Price: $12.8 Million
48,Bugatti La Voiture Noire,"With a price tag of $13.4 million, the one-off...",Price: $13.4 Million
49,Rolls-Royce Boat Tail*,Rolls-Royce is back in the business of coachbu...,Price: $28.0 Million (est.)