# Web Scraping Assignment-1. 
# Project: Internship 34
<!-- Deadline for the submission of the assignment is Sunday, 04-12-2022, 11:59 PM. -->

In [1]:
#Write a python program to display all the header tags from wikipedia.org.
import requests
from bs4 import BeautifulSoup
import pandas as pd

def wikipedia_HeaderTag(url):
    #Web scraping a wikipedia article
    #Wikiurl ='https://en.wikipedia.org/wiki/Main_Page'
    Wikiurl = url
    wkreq = requests.get(Wikiurl)
    Headersoup = BeautifulSoup(wkreq.text, 'lxml')
    # List of all header tags
    header_tags = ["h1", "h2", "h3"]
    #"List of all h1, h2, h3 
    htags=[]
    for htag in Headersoup.find_all(header_tags):
              #print(htag.name + ' == ' + htag.text.strip())
                ht=htag.text.strip()
                htags.append(ht)
    df = pd.DataFrame({'Header tags':htags})
    display(df)

wikipedia_HeaderTag("https://en.wikipedia.org/wiki/Main_Page")

                      Header tags
0                       Main Page
1            Welcome to Wikipedia
2   From today's featured article
3                Did you know ...
4                     In the news
5                     On this day
6        Today's featured picture
7        Other areas of Wikipedia
8     Wikipedia's sister projects
9             Wikipedia languages
10                Navigation menu
11                 Personal tools
12                     Namespaces
13                          Views
14                     Navigation
15                     Contribute
16                          Tools
17                   Print/export
18              In other projects
19                      Languages

In [2]:
# Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
#and make data frame

from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

# IMDB's Top rated movies
def imdbtop100_data(IMDBurl):
    url = IMDBurl
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'lxml')
    movies = soup.select('td.titleColumn')
    ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
    imdb_list = []
    # PLace each item upto 100 top movies into dictionary (data), then put  into a list (imdb_list)
    for index in range(0, 100):
        # Seperate movie into:'title', 'year'
        movie_string = movies[index].get_text()
        movie = (' '.join(movie_string.split()).replace('.', ''))
        movie_title = movie[len(str(index))+1:-7]
        year = re.search('\((.*?)\)', movie_string).group(1)

        data = {"Movie_Name": movie_title,
                "Rating": round(float(ratings[index]),1),
                "Year of Release": year,
                }
        imdb_list.append(data)

    df = pd.DataFrame(imdb_list)
    return df

imdbtop100_data("http://www.imdb.com/chart/top")

                           Movie_Name  Rating Year of Release
0            The Shawshank Redemption     9.2            1994
1                       The Godfather     9.2            1972
2                     The Dark Knight     9.0            2008
3               The Godfather Part II     9.0            1974
4                        12 Angry Men     9.0            1957
..                                ...     ...             ...
95                       Citizen Kane     8.3            1941
96  M - Eine Stadt sucht einen Mörder     8.3            1931
97                 Lawrence of Arabia     8.3            1962
98                 North by Northwest     8.2            1959
99                            Vertigo     8.2            1958

[100 rows x 3 columns]

In [3]:
#Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

from bs4 import BeautifulSoup
import requests
import pandas as pd

# Download IMDB's Top rated 100 Indian movies
def imdbtop100indianMovies_data(IMDBUrl):
    #url = 'https://www.imdb.com/india/top-rated-indian-movies/'
    url = IMDBUrl
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'lxml')
    movies = soup.select('td.titleColumn')
    ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
    imdb_list = []
    # PLace each item upto 100 top movies into dictionary (data), then put  into a list (imdb_list)
    for index in range(0, 100):
        # Seperate movie into:'title', 'year'
        movie_string = movies[index].get_text()
        movie = (' '.join(movie_string.split()).replace('.', ''))
        movie_title = movie[len(str(index))+1:-7]
        year = re.search('\((.*?)\)', movie_string).group(1)

        data = {"Movie_Name": movie_title,
                "Rating": round(float(ratings[index]),1),
                "Year of Release": year,
                }
        imdb_list.append(data)
    
    df = pd.DataFrame(imdb_list)
    return df

imdbtop100indianMovies_data("https://www.imdb.com/india/top-rated-indian-movies/")

                             Movie_Name  Rating Year of Release
0   Ramayana: The Legend of Prince Rama     8.5            1993
1            Rocketry: The Nambi Effect     8.4            2022
2                           777 Charlie     8.4            2022
3                               Golmaal     8.4            1979
4                               Nayakan     8.4            1987
..                                  ...     ...             ...
95                       Kaakkaa Muttai     8.0            2014
96                          Ustad Hotel     8.0            2012
97             Theeran Adhigaaram Ondru     8.0            2017
98                               Angoor     8.0            1982
99                      Rang De Basanti     8.0            2006

[100 rows x 3 columns]

In [4]:
#Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) 
#from https://presidentofindia.nic.in/former-presidents.htm
from bs4 import BeautifulSoup
import requests
import pandas as pd

def president_data(presurl):
    url=requests.get(presurl)
    soup=BeautifulSoup(url.content)
    Term=[]
    for i in soup.find_all('p'):
        Term.append(i.text)
    #print(Term)    
    result_3 = [item.split(':') for item in Term]
    result_4 = [item for l in result_3 for item in l]
    # Remove word containing string in the list
    result_5 = list(filter(lambda a: a != 'Term of Office', result_4))
    # Remove words containing list characters
    # using list comprehension + all()
    from itertools import groupby
    # initializing list
    test_list = result_5
    # initializing char list
    char_list = ['http','https','//','\n','Copyright','Page','PM\n']

    # Remove words containing list characters
    # using list comprehension + all()
    res = [ele for ele in test_list if all(ch not in ele for ch in char_list)]
    # printing result
    #print ("The filtered strings are : " + str(res))
    Detail=[]
    for i in soup.find_all('div', class_="presidentListing"):
        ii= i.text.split('(')[0].strip()
        Detail.append(ii)
        Detail

    #print(Detail)
    TermsFinal=[]
    #get the terms of office which doesnt include the last row
    for index in range(0, len(res)-1):
        tt = res[index]
        TermsFinal.append(tt)
        TermsFinal
        #print(TermsFinal)
    data = {'PresidentiaL List':Detail,'Term of office':TermsFinal}
    df = pd.DataFrame(data)
    return df

president_data("https://presidentofindia.nic.in/former-presidents.htm")

,PresidentiaL List,Term of office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

In [5]:
# Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
# b) Top 10 ODI Batsmen along with the records of their team and rating.
# c) Top 10 ODI bowlers along with the records of their team and rating.
    
from bs4 import BeautifulSoup
import requests
import pandas as pd
import threading

def ODIMen_10data(ODImencricurl):
    ODImenurl=ODImencricurl
    data = requests.get(ODImenurl).text
    bs=BeautifulSoup(data, "lxml")
    rows = bs.find_all('tr')
    MenCricData = []
    for row in rows:
        cols=row.find_all('td')
        cols=[x.text.strip() for x in cols]
        MenCricData.append(cols)
    df = pd.DataFrame(MenCricData)
    df.columns =['Pos', 'Team', 'Matches', 'Points','Rating']
    df = df.iloc[1:11]
    print("Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.")
    display(df)


def ODIMenbatting_10data(menBatcricurl):
    MenbatUrl = menBatcricurl
    data = requests.get(MenbatUrl).text
    bs=BeautifulSoup(data, "lxml")
    rows = bs.find_all('tr')
    MenCricData = []
    for row in rows:
        cols=row.find_all('td')
        cols=[x.text.strip() for x in cols]
        MenCricData.append(cols)
    df = pd.DataFrame(MenCricData)
    df.columns =['Rank', 'Player', 'Team', 'Rating','CareerBestRating']
    df['Rank'] = df['Rank'].str.replace('\n',"")
    df = df.iloc[1:11]
    print("Top 10 ODI Batsmen along with the records of their team and rating.")
    display(df)
    
def ODImenBowler_10data(cricurl):
    menbowler = cricurl
    data = requests.get(menbowler).text
    bs=BeautifulSoup(data, "lxml")
    rows = bs.find_all('tr')
    MenCricData = []
    for row in rows:
        cols=row.find_all('td')
        cols=[x.text.strip() for x in cols]
        MenCricData.append(cols)
    df = pd.DataFrame(MenCricData)
    df.columns =['Rank', 'Player', 'Team', 'Rating','CareerBestRating']
    df['Rank'] = df['Rank'].str.replace('\n',"")
    df = df.iloc[1:11]
    print("Top 10 ODI bowlers along with the records of their team and rating.")
    display(df)


if __name__ =="__main__":
    t1 = threading.Thread(target = ODIMen_10data, args=('https://www.icc-cricket.com/rankings/mens/team-rankings/odi',))
    t2 = threading.Thread(target = ODIMenbatting_10data, args=('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting',))
    t3 = threading.Thread(target = ODImenBowler_10data, args=('https://www.icc-cricket.com/rankings/mens/player-rankings/test/bowling',))
    t1.start()
    t2.start()
    t3.start()
    t1.join()
    t2.join()
    t3.join()

Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

   Pos              Team Matches Points Rating
1    1   New Zealand\nNZ      23  2,670    116
2    2      England\nENG      30  3,400    113
3    3    Australia\nAUS      32  3,572    112
4    4        India\nIND      35  3,866    110
5    5     Pakistan\nPAK      22  2,354    107
6    6  South Africa\nSA      24  2,392    100
7    7   Bangladesh\nBAN      30  2,753     92
8    8     Sri Lanka\nSL      30  2,677     89
9    9  Afghanistan\nAFG      19  1,380     73
10  10   West Indies\nWI      41  2,902     71

Top 10 ODI Batsmen along with the records of their team and rating.

,Rank,Player,Team,Rating,CareerBestRating
1,1 (0),Babar Azam,PAK,890,"898 v West Indies, 10/06/2022"
2,2 (0),Imam-ul-Haq,PAK,779,"815 v West Indies, 12/06/2022"
3,3 (0),Rassie van der Dussen,SA,766,"796 v England, 19/07/2022"
4,4 (0),Quinton de Kock,SA,759,"813 v Sri Lanka, 10/03/2019"
5,5 (0),David Warner,AUS,747,"880 v Pakistan, 26/01/2017"
6,6 (0),Steve Smith,AUS,719,"752 v Pakistan, 22/01/2017"
7,7 (2)This playe...,Jonny Bairstow,ENG,710,"796 v India, 26/03/2021"
8,8 (1)This playe...,Virat Kohli,IND,707,"911 v England, 12/07/2018"
9,9 (1)This playe...,Rohit Sharma,IND,704,"885 v Sri Lanka, 06/07/2019"
10,10 (0),Kane Williamson,NZ,701,"799 v India, 09/07/2019"

Top 10 ODI bowlers along with the records of their team and rating.

,Rank,Player,Team,Rating,CareerBestRating
1,1 (0),Pat Cummins,AUS,891,"914 v England, 18/08/2019"
2,2 (0),Ravichandran Ashwin,IND,842,"904 v England, 12/12/2016"
3,3 (0),Shaheen Afridi,PAK,828,"836 v Sri Lanka, 20/07/2022"
4,4 (0),Jasprit Bumrah,IND,828,"835 v West Indies, 02/09/2019"
5,5 (0),James Anderson,ENG,825,"903 v India, 13/08/2018"
6,6 (0),Kagiso Rabada,SA,799,"902 v Australia, 12/03/2018"
7,7 (0),Kyle Jamieson,NZ,788,"836 v England, 06/06/2022"
8,8 (0),Kemar Roach,WI,756,"780 v India, 02/09/2019"
9,9 (0),Neil Wagner,NZ,747,"859 v Australia, 30/12/2020"
10,10 (0),Mitchell Starc,AUS,739,"806 v New Zealand, 16/12/2019"

In [6]:
# Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
# b) Top 10 women’s ODI Batting players along with the records of their team and rating.
# c) Top 10 women’s ODI all-rounder along with the records of their team and rating.
from bs4 import BeautifulSoup
import requests
import pandas as pd

def ODIWomen_10data(ODIWomenCricurl):
    # The test data
    ODIWomenurl=ODIWomenCricurl
    response = requests.get(ODIWomenCricurl)
    data = requests.get(ODIWomenurl).text
    bs=BeautifulSoup(data, "lxml")
    rows = bs.find_all('tr')
    WomenCricData = []
    for row in rows:
        cols=row.find_all('td')
        cols=[x.text.strip() for x in cols]
        WomenCricData.append(cols)
    df = pd.DataFrame(WomenCricData)
    df.columns =['Pos', 'Team', 'Matches', 'Points','Rating']
    df = df.iloc[1:11]
    print(" Top 10 ODI teams in women’s cricket along with the records for matches, points and rating")
    display(df)


def ODIWomenBatting_10data(WomenBatcricurl):
    WomenBaturl = WomenBatcricurl
    data = requests.get(WomenBaturl).text
    bs=BeautifulSoup(data, "lxml")
    rows = bs.find_all('tr')
    WomenCricBatData = []
    for row in rows:
        cols=row.find_all('td')
        cols=[x.text.strip() for x in cols]
        WomenCricBatData.append(cols)
    df = pd.DataFrame(WomenCricBatData)
    df.columns =['Rank', 'Player', 'Team', 'Rating','CareerBestRating']
    df['Rank'] = df['Rank'].str.replace('\n',"")
    df = df.iloc[1:11]
    print("Top 10 women’s ODI Batting players along with the records of their team and rating.")
    display(df)
   
def ODIWomenAllrounder_10data(WomenAllroundcricurl):
    Womenallrounder = WomenAllroundcricurl
    data = requests.get(Womenallrounder).text
    bs=BeautifulSoup(data, "lxml")
    rows = bs.find_all('tr')
    WomenAllroundData = []
    for row in rows:
        cols=row.find_all('td')
        cols=[x.text.strip() for x in cols]
        WomenAllroundData.append(cols)
    df = pd.DataFrame(WomenAllroundData)
    df.columns =['Rank', 'Player', 'Team', 'Rating','CareerBestRating']
    df['Rank'] = df['Rank'].str.replace('\n',"")
    df = df.iloc[1:11]
    print("Top 10 women’s ODI all-rounder along with the records of their team and rating.")
    display(df)

if __name__ =="__main__":
    t1 = threading.Thread(target = ODIWomen_10data, args=('https://www.icc-cricket.com/rankings/womens/team-rankings/odi',))
    t2 = threading.Thread(target = ODIWomenBatting_10data, args=('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting',))
    t3 = threading.Thread(target = ODIWomenAllrounder_10data, args=('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder',))
    t1.start()
    t2.start()
    t3.start()
    t1.join()
    t2.join()
    t3.join()

 Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

   Pos              Team Matches Points Rating
1    1    Australia\nAUS      18  3,061    170
2    2  South Africa\nSA      26  3,098    119
3    3      England\nENG      25  2,904    116
4    4        India\nIND      27  2,820    104
5    5   New Zealand\nNZ      24  2,425    101
6    6   West Indies\nWI      24  2,334     97
7    7   Bangladesh\nBAN      12    932     78
8    8     Thailand\nTHA       8    572     72
9    9     Pakistan\nPAK      24  1,519     63
10  10     Sri Lanka\nSL       8    353     44

Top 10 women’s ODI all-rounder along with the records of their team and rating.

,Rank,Player,Team,Rating,CareerBestRating
1,1 (0),Hayley Matthews,WI,380,"380 v New Zealand, 25/09/2022"
2,2 (0),Ellyse Perry,AUS,374,"548 v West Indies, 11/09/2019"
3,3 (0),Natalie Sciver,ENG,357,"395 v South Africa, 11/07/2022"
4,4 (0),Amelia Kerr,NZ,356,"356 v West Indies, 25/09/2022"
5,5 (0),Marizanne Kapp,SA,349,"419 v West Indies, 10/09/2021"
6,6 (0),Deepti Sharma,IND,322,"397 v South Africa, 09/10/2019"
7,7 (0),Ashleigh Gardner,AUS,270,"279 v West Indies, 30/03/2022"
8,8 (0),Jess Jonassen,AUS,246,"308 v West Indies, 11/09/2019"
9,9 (0),Jhulan Goswami,IND,214,"308 v Australia, 02/02/2016"
10,10 (0),Katherine Brunt,ENG,207,"296 v Australia, 03/02/2022"

Top 10 women’s ODI Batting players along with the records of their team and rating.

,Rank,Player,Team,Rating,CareerBestRating
1,1 (0),Alyssa Healy,AUS,785,"785 v England, 03/04/2022"
2,2 (0),Beth Mooney,AUS,749,"748 v England, 03/04/2022"
3,3 (0),Laura Wolvaardt,SA,732,"741 v Australia, 22/03/2022"
4,4 (0),Natalie Sciver,ENG,725,"755 v South Africa, 15/07/2022"
5,5 (0),Harmanpreet Kaur,IND,716,"731 v England, 21/09/2022"
6,6 (0),Smriti Mandhana,IND,714,"797 v England, 28/02/2019"
7,7 (0),Meg Lanning,AUS,710,"834 v New Zealand, 24/02/2016"
8,8 (0),Rachael Haynes,AUS,701,"713 v West Indies, 15/03/2022"
9,9 (0),Amy Satterthwaite,NZ,661,"756 v Australia, 02/03/2017"
10,10 (0),Chamari Athapaththu,SL,655,"691 v South Africa, 14/02/2019"

In [7]:
# Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
# i)Headline
# ii) Time
# iii) News Link
import requests
from bs4 import BeautifulSoup
import pandas as pd

def news_data(cnnurl):
    url = cnnurl
    # creating request object
    req = requests.get(url)
    # creating soup object
    data = BeautifulSoup(req.text, 'html')
    # finding all li tags in ul and printing the text within it
    data1 = data.find_all('li', {'class':"LatestNews-item"})
    my_data =[]
    for li in data1:
            headline = li.a.text
            #print(headline)
            if len(headline) == 0:
                item=li.find('a',class_='LatestNews-headline')
                headline=item['title']               
            else:
                headline= li.a.text  
              
            time = (li.span.find(class_="LatestNews-timestamp")).text
            a_tags = li.find_all('a', href=True) #  Find all <a> tags that have a href attr
            #  Loop over the results
            for tag in a_tags:
                newslink=tag['href']
            
            my_data.append({"headline": headline,"time": time, "newslink": newslink})

    df = pd.DataFrame(my_data)
    return df         

news_data("https://www.cnbc.com/world/")

,headline,time,newslink
0,Cramer's lightning round: Let Extreme Networks...,4 Hours Ago,https://www.cnbc.com/2022/12/02/cramers-lightn...
1,Jim Cramer says these 3 apparel stocks benefit...,4 Hours Ago,https://www.cnbc.com/2022/12/02/jim-cramer-say...
2,Cramer’s week ahead: Markets need a strong job...,5 Hours Ago,https://www.cnbc.com/2022/12/02/cramers-week-a...
3,Pro Picks: Watch all of Friday's big stock cal...,6 Hours Ago,https://www.cnbc.com/2022/12/02/pro-picks-watc...
4,"There is 'enormous opportunity' in REITs, says...",6 Hours Ago,https://www.cnbc.com/2022/12/02/reits-offer-en...
5,Biden administration will end monkeypox public...,7 Hours Ago,https://www.cnbc.com/2022/12/02/biden-administ...
6,Expect more choppiness ahead after a week of m...,7 Hours Ago,https://www.cnbc.com/2022/12/02/expect-more-ch...
7,"GM, LG investing $275 million to expand Tennes...",8 Hours Ago,https://www.cnbc.com/2022/12/02/gm-lg-investin...
8,"These beat-up tech stocks have potential, ‘Hal...",8 Hours Ago,https://www.cnbc.com/2022/12/02/big-tech-stock...
9,The Fed's path to a 'Goldilocks' economy just ...,8 Hours Ago,https://www.cnbc.com/2022/12/02/the-feds-path-...
10,3 things crypto investors need to know in post...,8 Hours Ago,https://www.cnbc.com/2022/12/02/three-things-c...
11,Biden condemns antisemitism as Ye praises Hitl...,8 Hours Ago,https://www.cnbc.com/2022/12/02/biden-condemns...
12,Georgia man arrested for shooting boy campaign...,8 Hours Ago,https://www.cnbc.com/2022/12/02/georgia-electi...
13,What to watch in the markets in the week ahead,8 Hours Ago,https://www.cnbc.com/2022/12/02/markets-lookin...
14,The biggest tax changes to know before filing ...,9 Hours Ago,https://www.cnbc.com/2022/12/02/the-biggest-ta...
15,'This is a crisis.' Why more workers need acce...,9 Hours Ago,https://www.cnbc.com/2022/12/02/why-more-worke...
16,Carnival’s Princess Cruises will return to Jap...,9 Hours Ago,https://www.cnbc.com/2022/12/02/carnivals-prin...
17,Tech layoffs may not be a bad omen for U.S. ec...,10 Hours Ago,https://www.cnbc.com/2022/12/02/tech-layoffs-m...
18,Professional traders are using these ETFs and ...,10 Hours Ago,https://www.cnbc.com/2022/12/02/professional-t...
19,Amazon media chief Jeff Blackburn retires from...,10 Hours Ago,https://www.cnbc.com/2022/12/02/amazon-media-c...
20,Activision acquisition would be good for Micro...,10 Hours Ago,https://www.cnbc.com/2022/12/02/activision-acq...
21,Christina Ricci sold off her collection of Cha...,10 Hours Ago,https://www.cnbc.com/2022/12/02/christina-ricc...
22,Goldman Sachs warns traders of shrinking bonus...,10 Hours Ago,https://www.cnbc.com/2022/12/02/goldman-sachs-...
23,November unemployment rate fell for both Hispa...,10 Hours Ago,https://www.cnbc.com/2022/12/02/november-unemp...
24,DEI programing stalled in 2022—how that could ...,11 Hours Ago,https://www.cnbc.com/2022/12/02/dei-programing...
25,Stocks making the biggest moves midday: Zscale...,11 Hours Ago,https://www.cnbc.com/2022/12/02/stocks-making-...
26,People with perfect credit scores share 3 key ...,11 Hours Ago,https://www.cnbc.com/2022/12/02/experian-peopl...
27,Student debt relief goes to the Supreme Court—...,11 Hours Ago,https://www.cnbc.com/2022/12/02/student-debt-r...
28,Ford claims No. 2 spot in EVs behind Tesla – b...,11 Hours Ago,https://www.cnbc.com/2022/12/02/ford-claims-no...
29,Drew Brees fakes lightning strike in promotion...,11 Hours Ago,https://www.cnbc.com/2022/12/02/drew-brees-lig...

In [8]:
#Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
# https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
# Scrape below mentioned details :
# i) Paper Title 
# ii) Authors
# iii) Published Date 
# iv) Paper URL
from bs4 import BeautifulSoup
import requests
import pandas as pd

def AIJournal_data(AIurl):
    url = AIurl
    # creating request object
    req = requests.get(url)
    # creating soup object
    data = BeautifulSoup(req.text, 'html')
    # finding all li tags in ul and printing the text within it
    data1 = data.find_all('li', {'class':"sc-9zxyh7-1 sc-9zxyh7-2 kOEIEO hvoVxs"})
    my_data =[]
    for li in data1:
        title= li.a.text
        #print(title)
        Author= li.p.span.text
        #print(Author)
        publishedDate = (li.find(class_="sc-1thf9ly-2 dvggWt")).text
        #print(publishedDate)
        a_tags = li.find_all('a', href=True) #  Find all <a> tags that have a href attr
        #  Loop over the results
        for tag in a_tags:
            paperURL=tag['href']
            #print(tag['href']) # Print href 
        my_data.append({"title": title, "Author": Author,"publishedDate": publishedDate, "paperURL": paperURL})

    df = pd.DataFrame(my_data)
    return df          

AIJournal_data("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")

,title,Author,publishedDate,paperURL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [9]:
# Write a python program to scrape mentioned details from dineout.co.in :
# i) Restaurant name
# ii) Cuisine
# iii) Location 
# iv) Ratings
# v) Image URL
import pandas as pd
import requests
from bs4 import BeautifulSoup 

def dineout_data(dineurl):
    url = dineurl
    data = requests.get(url)
    html = BeautifulSoup(data.text, 'html.parser')
    ratings =[]
    data11 = html.find_all('div', {'class':"restnt-rating rating-4"})
    for each in data11:
        rating = each.text
        ratings.append(rating)
    #print(ratings)
    images = []
    for img in html.find_all("img",class_="no-img"):
           images.append(img.get('data-src'))
    #print(images)       
    res_list = []
    cuisine_list = []
    location_list = []
    dineall = html.find_all('div', {'class':"restnt-card restaurant"})
    
    for dine in dineall:
        Restaurant = dine.find(class_="restnt-name ellipsis").get_text()
        #print(Restaurant)
        Cuisine = (dine.find(class_="double-line-ellipsis").get_text()).split('|')[1].strip()
        #print(Cuisine.split('|')[1].strip())
        location = dine.find(class_="restnt-loc ellipsis").get_text()
        #print(location)
        res_list.append(Restaurant)
        cuisine_list.append(Cuisine)
        location_list.append(location)

    res=pd.Series(res_list,name='Restaurant')
    cuisine=pd.Series(cuisine_list,name='Cuisine')
    location=pd.Series(location_list,name='location')
    ratings=pd.Series(ratings,name='ratings')
    images=pd.Series(images,name='images')
    dine_list = pd.concat([res,cuisine,location,ratings,images], axis=1)
    return dine_list        

dineout_data("https://www.dineout.co.in/delhi-restaurants/welcome-back")

,Restaurant,Cuisine,location,ratings,images
0,Tamasha,"Continental, Asian, Italian, North Indian","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
1,Local,"North Indian, Asian, Continental","Scindia House,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
2,Station Bar,"Italian, Chinese, North Indian, Fast Food","F-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
3,QBA,"North Indian, Continental, Italian","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,Ministry Of Beer,"North Indian, Continental, American, Asian","M-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
5,Unplugged Courtyard,"North Indian, Italian, Chinese, Turkish, Conti...","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
6,The Junkyard Cafe,"North Indian, Continental, Chinese, Fast Food","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
7,The G.T. ROAD,North Indian,"M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,The Luggage Room By Sandoz,"Chinese, Italian, North Indian, Continental","M-Block,Connaught Place, Central Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
9,Chido,"North Indian, Italian, Continental, Asian, Fin...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
10,My Bar Headquarters,"North Indian, Chinese","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
11,Ardor 2.1 Restaurant and Lounge,"North Indian, Chinese, Italian, Continental","Connaught Place, Central Delhi",3.8,https://im1.dineout.co.in/images/uploads/resta...
12,Sandoz,"North Indian, Chinese, Continental","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
13,Connaught Clubhouse Microbrewery,"North Indian, Continental, Asian, Chinese","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
14,Out Of The Box Courtyard,"North Indian, Mediterranean, Chinese, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
15,Openhouse Cafe,"North Indian, Asian, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
16,Chili's American Grill and Bar,"Mexican, American, Tex Mex","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
17,38 Barracks,"North Indian, Chinese, Continental","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
18,Berco's,"Chinese, Thai","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
19,Cafe Delhi Heights,"Continental, North Indian, Beverages, Chinese,...","Janpath, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
20,Ghoomar Traditional Thali Restaurant,"North Indian, Rajasthani","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...

In [10]:
# Write a python program to scrape the details of top publications from Google Scholar from 
# https://scholar.google.com/citations?view_op=top_venues&hl=en
# i) Rank 
# ii) Publication
# iii) h5-index
#  iv) h5-median
import pandas as pd
import requests
from bs4 import BeautifulSoup 

def google_data(googleurl):
    url = googleurl
    data = requests.get(url).text
    bs=BeautifulSoup(data, "lxml")
    rows = bs.find_all('tr')
    contents = []
    for row in rows:
        cols=row.find_all('td')
        cols=[x.text.strip() for x in cols]
        #print(cols)
        contents.append(cols)
    df = pd.DataFrame(contents)
    df.columns =['Rank', 'Publication', 'h5-index', 'h5-median']
    df = df.iloc[1: , :]
    return df

google_data("https://scholar.google.com/citations?view_op=top_venues&hl=en")

,Rank,Publication,h5-index,h5-median
1,1.,Nature,444,667
2,2.,The New England Journal of Medicine,432,780
3,3.,Science,401,614
4,4.,IEEE/CVF Conference on Computer Vision and Pat...,389,627
5,5.,The Lancet,354,635
...,...,...,...,...
96,96.,Journal of Business Research,145,233
97,97.,Molecular Cancer,145,209
98,98.,Sensors,145,201
99,99.,Nature Climate Change,144,228
100,100.,IEEE Internet of Things Journal,144,212